@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli v spletni knjižnici!</h1>

    <div>
        Seznam gradiv: @Html.ActionLink("Klikni tukaj!", "Index", "Gradiva")
    </div>
</div>
