@model web.Models.Ocena

@{
    ViewData["Title"] = "Edit";
}

<h1>Uredi</h1>

<h4>Ocena</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OcenaID" />
            <div class="form-group">
                <label asp-for="Vrednost" class="control-label"></label>
                <input asp-for="Vrednost" class="form-control" />
                <span asp-validation-for="Vrednost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mnenje" class="control-label"></label>
                <input asp-for="Mnenje" class="form-control" />
                <span asp-validation-for="Mnenje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Shrani" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Gradiva" asp-action="Index">Nazaj na seznam</a>
</div>

